In [248]:
import pandas as pd

In [249]:
df = pd.read_csv('csv_dir/dataset_Facebook.csv', sep=';')

In [250]:
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4.0,3,0.0,2752.0,5091.0,178.0,109.0,159.0,3078.0,1640.0,119.0,4.0,79.0,17.0,100
1,139441,Status,2,12,3.0,10,0.0,10460.0,19057.0,1457.0,1361.0,1674.0,11710.0,6112.0,1108.0,5.0,130.0,29.0,164
2,139441,Photo,3,12,3.0,3,0.0,2413.0,4373.0,177.0,113.0,154.0,2812.0,1503.0,132.0,0.0,66.0,14.0,80
3,139441,Photo,2,12,2.0,10,1.0,50128.0,87991.0,2211.0,790.0,1119.0,61027.0,32048.0,1386.0,58.0,1572.0,147.0,1777
4,139441,Photo,2,12,2.0,3,0.0,7244.0,13594.0,671.0,410.0,580.0,6228.0,3200.0,396.0,19.0,325.0,49.0,393

In [251]:
df = df.drop(["Type"], axis=1)
df = df.dropna()
df = df.reset_index(drop=True)

In [252]:
df.drop(["Paid"], axis=1)

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,2,12,4.0,3,2752.0,5091.0,178.0,109.0,159.0,3078.0,1640.0,119.0,4.0,79.0,17.0,100
1,139441,2,12,3.0,10,10460.0,19057.0,1457.0,1361.0,1674.0,11710.0,6112.0,1108.0,5.0,130.0,29.0,164
2,139441,3,12,3.0,3,2413.0,4373.0,177.0,113.0,154.0,2812.0,1503.0,132.0,0.0,66.0,14.0,80
3,139441,2,12,2.0,10,50128.0,87991.0,2211.0,790.0,1119.0,61027.0,32048.0,1386.0,58.0,1572.0,147.0,1777
4,139441,2,12,2.0,3,7244.0,13594.0,671.0,410.0,580.0,6228.0,3200.0,396.0,19.0,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,85093,3,1,7.0,10,5400.0,9218.0,810.0,756.0,1003.0,5654.0,3230.0,422.0,10.0,125.0,41.0,176
438,85093,3,1,7.0,2,4684.0,7536.0,733.0,708.0,985.0,4750.0,2876.0,392.0,5.0,53.0,26.0,84
439,81370,2,1,5.0,8,3480.0,6229.0,537.0,508.0,687.0,3961.0,2104.0,301.0,0.0,53.0,22.0,75
440,81370,1,1,5.0,2,3778.0,7216.0,625.0,572.0,795.0,4742.0,2388.0,363.0,4.0,93.0,18.0,115
441,81370,3,1,4.0,11,4156.0,7564.0,626.0,574.0,832.0,4534.0,2452.0,370.0,7.0,91.0,38.0,136

In [254]:
from  sklearn.model_selection import train_test_split

In [255]:
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.33, random_state=42)

In [256]:
X_train.head()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
231,126141,1,6,4.0,12,0.0,20896.0,29062.0,1418.0,1038.0,2048.0,19738.0,13656.0,998.0,103.0,469.0,33.0,605
325,109670,1,4,6.0,13,0.0,6172.0,10417.0,718.0,684.0,906.0,7692.0,4234.0,508.0,1.0,64.0,22.0,87
193,130791,2,7,3.0,5,1.0,180480.0,319133.0,8072.0,4010.0,6242.0,108752.0,51456.0,3316.0,372.0,5172.0,790.0,6334
109,135713,2,10,5.0,11,0.0,4010.0,7444.0,477.0,370.0,534.0,4406.0,2362.0,354.0,2.0,166.0,32.0,200
195,129600,1,7,7.0,6,1.0,5848.0,9068.0,622.0,570.0,795.0,6651.0,4212.0,383.0,4.0,71.0,10.0,85

In [257]:
X_train.shape

(296, 18)

In [258]:
X_test.shape

(146, 18)

In [259]:
(X_test + X_train).shape

(442, 18)

In [260]:
model = LogisticRegression(max_iter=10000)
model.fit(X_train, y_train)
predict = model.predict(X_test)

In [261]:
from sklearn.metrics import accuracy_score, f1_score

In [262]:
print('precision', precision_score(y_test, predict))
print('recall', recall_score(y_test, predict))
print('accuracy', accuracy_score(y_test, predict))
print('f1', f1_score(y_test, predict))

precision 0.375
recall 0.08108108108108109
accuracy 0.7328767123287672
f1 0.13333333333333333